/*.smarttable
"glyphicon glyphicon-triangle-bottom" : "glyphicon glyphicon-triangle-top"*/

.rst_thead {
    font-weight: bold;
}

.rst_tbody_container:focus {
    outline: 0;
 }

.rst_tbody {
 }

.rst_left {
    /*box-shadow: px 3px 5px 6px #ccc;
    */
    box-shadow: 8px 0 4px -2px #ddd;

}

.rst_tr {
    position: absolute; /* MANDATORY */
}

.rst_td {
    position: absolute; /* MANDATORY */
    overflow-x: hidden; /* MANDATORY */
    overflow-y: hidden; /* MANDATORY */
    white-space:nowrap;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding:4px;
}

.rst_empty {
    background: #EEEEEE;
}

.rst_th_wrapper {
    position: relative; /* MANDATORY */
}

.rst_th {
    position: absolute; /* MANDATORY */
    overflow-x: hidden; /* MANDATORY */
    overflow-y: hidden; /* MANDATORY */
    border-bottom: 2px solid gray;
    border-right: 1px solid gray;
    padding:4px;
    white-space:nowrap;
}

.fixedDataTableRow_columnsShadow {
  background: 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==) repeat-y;
  width: 4px;
}
.fixedDataTable_shadow {
  background: 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAF0lEQVR4AWPUkNeSBhHCjJoK2twgFisAFagCCp3pJlAAAAAASUVORK5CYII=) repeat-x;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

