/*.smarttable
"glyphicon glyphicon-triangle-bottom" : "glyphicon glyphicon-triangle-top"*/

.rst_tr {
  position: absolute; /* MANDATORY */
}

.rst_td {
  position: absolute; /* MANDATORY */
  overflow-x: hidden; /* MANDATORY */
  overflow-y: hidden; /* MANDATORY */
}

.rst_th {
  position: absolute; /* MANDATORY */
  overflow-x: hidden; /* MANDATORY */
  overflow-y: hidden; /* MANDATORY */
}


